*{
    box-sizing: border-box;
}
/* div{
    border: 1px solid red !important;
} */
body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
}
.post{
    background-color: white;
    width: 350px;
    /* height: 400px; */
}
.post-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.header-left{
    display: flex;
    align-items: center;
    gap: 8px;
}
.header-left i{
    font-size: 20px;
}
.post-img img{
    width: 100%;
    display: block;
}
.post-body{
    padding: 10px;
}
.body-icons{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.icons-left{
    display: flex;
    gap: 12px;
}
.body-icons i{
    font-size: 20px;
    cursor: pointer;
}
.likes{
    font-size: 14px;
    margin-bottom: 6px;
}
.icon-save{
    justify-content: flex-end;
}
.body-container {
    display: flex;
    flex-direction: column;
    /* gap: 12px;               */
    /* padding: 16px; */
}
.description{
    font-size: 14px;
    line-height: 1.4;
}
.body-p1{
    font-weight: bold;
    margin-bottom: 6px;
}
.body-p2{
    font-size: 14px;
}